<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
</head>

<body>
        <h1>Welcome to <%= title %>!</h1>
        <p>The ultimate community-driven resource to post and discover information about various Linux distros.</p>
        <a href="/linux-distros">Browse Linux Distros</a>
        <p><small>Psst... Are you, perhaps, a Windows user? I am not judging, but you should definitely switch to Linux :)</small></p>

</body>

</html>